body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  width: 100vw;
}

#result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
}
.card {
  color: black;
  background-color: #f7ededb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.card_image {
  width: 15vw;
  border-radius: 20px 20px 0 0;
}
.card_name {
  border-bottom: 1px solid black;
}
.card_name,
.card_table {
  width: 90%;
}
.card_table {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.card_table td {
  width: 50%;
}
#preloader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
}
#preloader_img {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
}
#error {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
}
#error_code {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}
@media (max-width: 768px) {
  .card {
    width: 43vw;
  }
  .card_image {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .card {
    width: 80vw;
  }
  .card_image {
    width: 100%;
  }
}
